{% extends 'base.html.twig' %}

{% block title %}
	{{ 'comments.edit'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'comments.edit'|trans }}</h1>

	{{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_comment_index') }}">{{ 'back.to.list'|trans }}</a>

	{{ include('comment/_delete_form.html.twig') }}
{% endblock %}
