{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<main>
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="display-5 fw-bold">{{'email.sent'|trans}}</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-2">{{'reset.sent.message'|trans}}
					{{'link.expire'|trans}}
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
				<p class="lead mb-4">{{'check spam'|trans}}
					<a href="{{ path('app_forgot_password_request') }}">{{'try again'|trans}}</a>.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="{{ path('app_home_page') }}" type="button" class="btn btn-primary btn-lg px-4 gap-3">{{'back.home'|trans}}</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
