{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block title %}
	{{'passwords.to.reset'|trans}}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="mainblock text-center">
		<main class="form-signin">
			{{ form_start(requestForm) }}
			<h1 class="h3 mb-3 fw-normal">{{'passwords.to.reset'|trans}}</h1>

			<div class="form-floating my-1">
				{{ form_widget(requestForm.username) }}
				{{ form_label(requestForm.username) }}
				<div class="text-danger">
					{{ form_errors(requestForm.username) }}
				</div>
			</div>

			<div class="my-5">
				<small>
					{{'passwords.reset.message'|trans}}
				</small>
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit">{{'actions.send.email'|trans}}</button>
			{{ form_end(requestForm) }}
		</main>
	</div>
{% endblock %}
