{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block title %}
	{{'passwords.to.reset'|trans}}
{% endblock %}

{% block body %}


	<div class="mainblock text-center">
		<main class="form-signin">
			{{ form_start(resetForm) }}

			<h1 class="h3 mb-3 fw-normal">{{'passwords.to.reset'|trans}}</h1>

			{{ form_row(resetForm.plainPassword) }}

			<div class="text-danger">
				{{ form_errors(resetForm.plainPassword) }}
			</div>


			<button class="w-100 btn btn-lg btn-primary" type="submit">
				{{'passwords.to.reset'|trans}}</button>
			{{ form_end(resetForm) }}
		</main>
	</div>
{% endblock %}
